
PORT=
NODE_ENV=
FRONTEND_URL=

DOMAIN=

BACKEND_URL=

ALLOWED_ORIGINS=

AWS_EC2_ACCESS_KEY_ID=
AWS_EC2_ACCESS_KEY_SECRET=

SSH_KEY=

DSN= #sentry dns
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_SECRET_KEY=
GOOGLE_AUTH_REDIRECT_URI=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=

PROXY_SERVER_TOKEN=

GOOGLE_GEN_AI_API=
# github apps things
GITHUB_APP_ID=

GITHUB_WEBHOOK_SECRET=


DATABASE_URL=
PROXY_SERVER_URL=
PROXY_DOMAIN=

DODO_PAYMENT_PRODUCT_ID=
DODO_PAYMENT_BEARER_TOKEN=
DODO_PAYMENTS_WEBHOOK_SECRET=
PROFIT_PRECENTAGE=


ENCRYPTION_KEY= # for encryption of project files

AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_KEY=
DIGITALOCEAN_API_KEY=
AI_GATEWAY_API_KEY=

